{{#extend "layout"}}

  {{#content "main"}}
    <p>
      <strong> {{t "greeting"}} {{name}}</strong>
    </p>
    <p>
      {{ t "emailVerification"}}
    </p>

    <p>
      {{ t "ctAConfirmation"}}
    </p>
        <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
          <tbody>
            <tr>
              <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr>
                      <td> <a href="{{link}}" target="_blank">{{t "clickLink"}}</a> </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

    <p>
      <strong>{{ t "bestRegards"}}</strong><br>
      Company Name
    </p>
  {{/content}}

{{/extend}}
