{{#extend "layout"}}

  {{#content "main"}}

  <div class="proposal-root">
        <h3>{{t "heading"}}</h3>
          <div style=" padding-top:1em; {{#if pro}}border-left: 4px solid #8cc800 {{else}} border-right: 4px solid  #ff324d {{/if}};  padding: 0.4em;">
            <div>
              <img style="margin-right:4px;" class="statement-avatar" src="{{thumbnail}}" alt="IMG">
              <span style="vertical-align: top;">
                <strong style="vertical-align: top;" > {{sender}}</strong>
                <a style="vertical-align: top;" href="{{link}}" target="_blank"> {{notification}} </a>
              </span>

            </div>
            <div style="width: 100%;">
              <div class="statement-text">
                <div>{{text}}</div>
              </div>
            </div>
          </div>
          </div>

  </div>


  {{/content}}

{{/extend}}
