{{#extend "layout"}} {{#content "main"}}

<div class="proposal-root">
  <div style="padding-bottom:1em;">
    <table>
      <tbody>
        <tr>
          <td style="width:50px;">
            <img src={{thumbnail}} style="width: 42px; height:42px; vertical-align:top;">
          </td>
          <td>
            <span>
              <strong> {{sender}}</strong>
              <a href="{{link}}" target="_blank"> {{notification}} </a>
            </span>

          </td>
        </tr>

      </tbody>
    </table>

  </div>
  <div style="width: 100%;
    padding: 1em 0;
    max-width: 35em;
    color: #000;
    border-radius: 6px;
    border: 1px solid #eee;
    margin: 0 auto;">
    <div style="font-weight: 600;
    padding: 0.5em 1em;
    background-color: #673ab7;
    color: #fff;    margin-bottom: 24px;
">
      <span>{{subject}}</span>
    </div>
    <div style="margin-bottom:24px;padding: 0 1em;
">
      {{{message}}}
    </div>
    <div style="margin-bottom:24px; padding: 0em 1em;
;">



      <div style="padding: 0.1em 0.3em;
    border-radius: 4px;
    color: #666;">
        <img style="width: 1em;
    height: 1em; margin-right:0.5rem; vertical-align:middle" src="{{thumbnail}}" />
        <span>{{sender}}</span>
      </div>
    </div>
  </div>


</div>



{{/content}} {{/extend}}
