{{#extend "layout"}}

  {{#content "main"}}

  <div class="proposal-root">
    <h3>{{t "heading"}}</h3>
    <div style="padding-bottom:1em;">
      <table>
        <tbody>
          <tr>
            <td style="width:50px;">
              <img src={{thumbnail}} style="width: 42px; height:42px; vertical-align:top;">
            </td>
            <td>
              <span>
                <strong> {{sender}}</strong>
                <a href="{{link}}" target="_blank"> {{notification}} </a>
              </span>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
    <div class="proposal-container">

      <div style= "font-size: 2rem;
    font-weight: 300;
    padding-top: 0;
    word-break: break-word;">
        {{title}}
      </div>
      <div class="proposal-body">
        {{{text}}}
      </div>
    </div>
  </div>

  {{/content}}

{{/extend}}
