{{#extend "layout"}}

  {{#content "main"}}

  <div class="proposal-root">
   <div style="font-size: 2rem;
    font-weight: 300;
    padding-top: 0;
    word-break: break-word;">{{title}}
    </div>
<div>
  <div>
    <img style="margin-right:4px;" class="statement-avatar" src="{{thumbnail}}"alt="IMG">
    <span style = "font-weight:600; vertical-align: top;">{{name}}</span>

  </div>
  <div style="width: 100%;">
    <div class="statement-text">
      <div>{{text}}</div>
    </div>
  </div>
</div>
  </div>

            <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
              <tbody>
                <tr>
                  <td align="left">
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td>
                            <a href="{{link}}" target="_blank">{{t "clickProposalLink"}}</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

  {{/content}}

{{/extend}}
