{{#extend "layout"}}

  {{#content "main"}}
    <p>
      <strong> {{t "greeting"}} {{name}}</strong>
    </p>
    <p>
      {{message}}
    </p>
    <p>
      <strong>{{ t "bestRegards"}}</strong><br>
      {{sender}}
    </p>

  {{/content}}

{{/extend}}
